@charset "utf-8";
/** Table of Content
1   General                 
2   Preloader               
3   Banner
4   Countdown
5   Header
6   Event Highlights
7   About
8   Custom Button   
9   Program Section
10  Speaker Section
11  Attendee Section
12  Sponsors Section 
13  Exhibitors Section  
14  Gallery Section 
15  Location Section
16  Contact Us section
17  Blog Section
18  Faqs Section
19  Footer

End of Table of Content Line 000 **/

/*  1.  General     */
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    margin: auto;
    overflow-x: hidden;
}
#wrapper {
    width: 100%;
}
#wrapper h1 {
    font-family: 'Signika', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 3px 2px rgba(0,0,0,0.35);
    -moz-text-shadow: 0 3px 2px rgba(0,0,0,0.35);
    -webkit-text-shadow: 0 3px 2px rgba(0,0,0,0.35);
    margin: 0 0 20px 0;
}

#wrapper h2 {
    font-family: 'Signika', sans-serif;
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    position: relative;
    padding: 0 0 10px 0;
}
#wrapper h2 a {
    text-decoration: none;
    color: #222;
}
#wrapper h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 2px dotted #aaa;
    width: 98px;
    height: 2px;
}
#wrapper h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    border-bottom: 2px dotted #aaa;
    width: 98px;
    height: 2px;
}
#wrapper h3 {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: #222;
    margin: 0 0 30px 0;
}
#wrapper h3 a {
    color: #222;
    text-decoration: none;
}
#wrapper h4 {
    font-family: 'Signika', sans-serif;
 /*   font-size: 16px;
    line-height: 16px;
    font-weight: 700;*/
    color: #222;
    line-height: 30px;
    margin: 0 0 12px 0;
}
#wrapper p {
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #777;
    margin: 0 0 25px 0;
}
#wrapper h5{
    font-family: 'Signika', sans-serif !important;
    color: #666 !important;
}
#wrapper p b {
    font-weight: 600;
}
#wrapper a:focus{
    outline: none;
}
.box {
    float: left;
    width: 100%;
    position: relative;
    padding: 10px;
    margin: 0 0 35px 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.box:before {
    bottom: -4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 98%;
}
.box:after {
    bottom: -8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 96%;
}
.frame {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.frame img {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} 
#wrapper li{
    font-size: 18px;
}


/* Modal */
.modal,
.modal-open {
    z-index: 9999;
}
.modal-dialog {
    z-index: 99999;
}
.eventime_modal .modal-content {

    box-shadow: none;
    border-radius: 0 !important;padding: 20px;
}
.modal-header{
    text-align: left;
    font-family: 'Signika', sans-serif;
}

.eventime_modal .modal-header .close {
    font-family: 'Signika', sans-serif;
    font-size: 40px;
    margin-top: -10px;
}
.eventime_modal .modal-title {
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}
.eventime_modal .contact_icon {
    width: 51px;
    height: 51px;
    padding-top: 10px;
    float: left;
}
.eventime_modal .img_half {
    width: 49.6%;
    height: auto;
    display: inline;
}
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    padding-right: 15px;
}
.vcard-photo img {
    max-width: 100%;
    max-height: 150px;
}
.modal-footer ul{
    text-align: center;
}
.modal-footer ul li{
    display: inline-block;
}
/* Moaal End*/

/*Generic Style End*/
@font-face {
    font-family: 'loveloline_bold';
    src: url('../fonts/lovelo_line_bold-webfont.eot');
    src: url('../fonts/lovelo_line_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lovelo_line_bold-webfont.woff2') format('woff2'), url('../fonts/lovelo_line_bold-webfont.woff') format('woff'), url('../fonts/lovelo_line_bold-webfont.ttf') format('truetype'), url('../fonts/lovelo_line_bold-webfont.svg#loveloline_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* End Genral Css */


/*  2.  Loader  */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    background-color: #59606b;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}
/* Loader End */

/*  3.  Banner Start    */
#banner {
    float: left;
    width: 100%;
    position: relative;

}
#banner:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9;
}
.cover{
    background-color: #000;
}
.cover img {
    display: block;
    width: 100%;
    opacity: 0.5;
}
#banner .bx-wrapper {
    float: left;
    width: 100%;
    margin: 0;
}
#banner .bx-wrapper .bx-viewport {
    background: none;
    border: 0;
    box-shadow: none;
    left: 0;
}
#banner .caption {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 10;
}
#banner .caption strong.logo {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}
#banner .caption .logo img{
    max-height: 100%;
    max-width: 100%;
    height: 70px;

}
#banner .caption strong.title {
    font-family: 'loveloline_bold';
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 0 0 5px 0;
}
#banner h1 {
    font-family: 'Signika', sans-serif;
    font-size: 75px;
    line-height: 75px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
    -moz-text-shadow: 0 0 4px rgba(0,0,0,0.4);
    -webkit-text-shadow: 0 0 4px rgba(0,0,0,0.4);
    color: #fff;
}
#banner h1 span {
    font-weight: 300;
}
#banner .caption ul {
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;
    display: block;
    text-align: center;
}
#banner .caption ul li {
    display: inline-block;
    padding: 10px 30px;
    border-left: 2px solid #fff;
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    width: 40%;
}
#banner .caption ul li .fa {
    display: block;
    text-align: center;
    margin: 0 0 12px 0;
}
#banner .caption ul li:first-child {
    border: 0;
}
#banner .bx-wrapper .bx-pager {
    display: none;
    padding: 0;
}
#banner .bx-wrapper .bx-controls-direction a {
    display: none;
}
#banner .bx-viewport > ul {
    margin: 0;
    padding: 0;
}
#banner a.btn-style-1 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 30px;
    box-shadow: 0 -4px 0px 0px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 -4px 0px 0px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 -4px 0px 0px rgba(0,0,0,0.1) inset;
}   
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    #banner .caption strong.logo, #banner a.btn-style-1, .countdown {
    display: none;
}
    
}

@media only screen and (min-width: 250px) and (max-width: 960px) {
    #banner h1, #banner a.btn-style-1, .countdown {
    display: none;
}  
    .event-high{
        margin-left: 20%;
    }
}
@media screen and (max-width: 767px){
    .navigation .navbar {
       margin-top: -50px;
    }

}
/*Banner End*/


/*  4.   Countdown   */
.timer-box {
    float: left;
    width: 100%;
}
.countdown {
    padding: 0;
    text-align: center;
}
.clock .clock-item {
    width: 170px;
    padding: 10px;
    display: inline-block;
    margin-left: 12px;
    position: relative;
}
.clock .clock-item:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px dotted #fff;
}
.countdown-time-value {
    position: relative;
}
.count-down-time-value-afternone {
    position: relative;
}
.clock-item .inner {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.inner .text {
    margin-top: -40px;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}
#wrapper .inner .text .val {
    font-size: 55px;
    font-weight: 700;
    font-family: 'Signika', sans-serif;
    margin: 20px 0 0 0;
}
#wrapper .inner .text p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-top: 50px;
    margin: 0;
}
a.btn-style-1 {
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 25px;
    display: table;
    background-color: #59606B;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 0 auto;
}
a.btn-style-1:hover {
    color: #fff;
    background-color: #333;
    text-decoration: none;
}
.btn-style-2{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 25px;
    color: #fff;
    background-color: #59606B;
    
    border:0px;
}
.btn-style-2:hover {
    color: #fff;
    background-color: #333;
    text-decoration: none;
}
/*Countdown Css End*/



/*  5.  Header  */

#header {
    float: left;
    width: 100%;
    padding: 20px 0 16px 0;
}
.cp_sticky+ .event-section{
    padding-top: 200px;
}
/*Logo Start*/
.logo-box {
    float: left;
}
.logo-box a.logo {
    float: left;
}
.logo-box a.logo img {
    float: left;
    height: 70px;
    margin: 0 7px 0 0;
}
/*Logo End*/

/*Navigation Start*/
.navigation {
    float: left;
    width: 100%;
}

.navigation {
    float: left;
    width: 100%;
}
.navigation .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navigation .navbar {
    border-radius: 0;
    float: right;
}
.navigation .navbar {
    border: 0;
    margin-bottom: 0;
    min-height: inherit;
}
.navigation .navbar-collapse {
    padding: 0;
    float: right;
}
.cp_sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}
#nav li {
    position: relative;
    padding: 0 23px 0 0;
}
#nav li:first-child {
    background: none;
}
#nav li a {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    line-height: 64px;
    color: #fff;
    text-decoration: none;
    padding: 0;
    font-weight: inherit;
    display: block;
    position: relative;
    z-index: 20;
}
#nav li a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    border-bottom: 3px solid #fff;
}
#nav li a:hover:before {
    width: 100%;
}
#nav li:hover > a {
}
#nav li ul li a:hover, #nav li ul li:hover > a {
    text-decoration: none;
    color: #777;
    background-color: #f5f5f5;
}
#nav li ul {
    position: absolute;
    left: 0;
    top: 50px;
    width: 120px;
    background: #fff;
    padding: 0;
    display: none;
    list-style: none;
    z-index: 10;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.19);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.19);
}
#nav li ul:before {
    bottom: -4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 98%;
}
#nav li ul:after {
    bottom: -8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 96%;
}
#nav li:hover > ul {
    display: block;
}
#nav li ul li > ul {
    position: absolute;
    left: 180px;
    top: 0;
    width: 180px;
    padding: 0;
}
#nav li ul li {
    float: none;
    width: auto;
    padding: 0;
    background: none;
    margin: 0;
    border-top: 1px dashed #ccc;
}
#nav li ul li:first-child {
    border: 0;
}
#nav li ul li a {
    background: none;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    color: #777;
    line-height: 14px;
    font-size: 14px;
    text-align: left;
    padding: 15px 10px;
    display: block;
}

.sub-menu {

    display: none;
    margin: 0;
    list-style: none;
    position: absolute;
    background: white;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 5px;
    padding: 10px;
    min-width: 120px;
}

li:hover > .sub-menu {
    display: block;
}

.sub-menu li {
    padding: 5px;
}

ul.nav.navbar-nav a {
    color: black;
    font-size: 14px;
    font-weight: 300;
    padding-top: 21px;
    cursor: pointer;
}
@media only screen and (max-width: 1080px;){
    #nav{
        display: none !important;
    }   
    #navbar{
        display: inline-block !important;
    }
}
/*  Header End */


/*  6.  Event Highlight  */
.event-section{
    float: left;
    width: 100%;
    padding: 70px 0;
    color: #ffffff;
}

.event-highlight span {
    font-family: 'Signika', sans-serif;
    font-size: 27px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    outline: none;
}
.event-highlight p{ 
    margin: 0 !important;
    font-size: 27px !important;
    line-height: 50px !important;
    font-weight: 700 !important;

}
.event-highlight {
    display: block;
    text-align: center;
}
.event-highlight li{
    color: #777;
    display: inline-block;
    width: 16%;
}



/*  7.  About Section   */
.section-about {
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #f5f5f5;
}
.section-about {
    float: left;
    width: 100%;
    padding: 70px 0;
}
.section-about .holder {
    padding: 0 90px;
}
.section-about a.btn-style-1 {
    float: left;
}
.section-about a.btn-style-1 .fa {
    padding: 0 5px 0 0;
}
.section-about .thumb {
    float: right;
    margin: 0 0 0 40px;
    background: #fff;
    border: 10px solid #fff;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.section-about .text-box {
    float: left;
    width: 100%;
}
.section-about .text-box .icon-box {
    float: left;
    font-size: 30px;
    color: #fff;
    text-align:center;
    line-height: 37px;
    margin: 0 30px 0 0;
}
.section-about .text-inner {
    overflow: hidden;
}
#main .section-about .text-inner h3 {
    margin: 0 0 15px 0;
    font-weight: 700;
}
#main .border-about {
    border-bottom: 1px dashed #aaa;
    border-top: 1px dashed #aaa;
    padding: 70px 90px 40px 90px;
    margin: 45px 0 0 0;
}
.tag_line{
    padding: 10px;
    text-transform:none;
}
/*About Us Section End*/


/*      8.Custom Button   */
.custom_btn {
    font-family: 'Signika', sans-serif;
    width: 35%;
    display: inline-block;
    text-align: left;
    margin: 10px;
    vertical-align: top;
    border-radius: 10px;

}
@media all and (max-width: 950px) {
    .custom_btn
    {
        width: 100% !important;
    }
    .tag_line {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: bold;

    }
}

.faq-open .fa-minus{
    display: block !important;
}

i.fa.fa-minus {
    display: none;
}
.faq-open .fa-plus{
    display: none;
}


.faq-open .fa-angle-double-down{
    display: block !important;
}

i.fa.fa-angle-double-down {
    display: none;
}
.faq-open .fa-angle-double-right{
    display: none;
}
.schedule-item-content {
    min-height: initial !important;
    cursor: pointer;
}
.schedule-item-content {
    background-color: #59606b;
    /*background: url('../img/bgmask3.png') no-repeat center center #029669;*/
    min-height: 160px;
    margin-top: 0;
    position: relative;
    color: #ffffff;
}
.customText
{
    margin:0 !important;
}
.customText-listing
  {
    font-size: 21px;
    font-weight: bold;
    padding: 10px !important;
  }
  @media (min-width:992px) {
      .customText-listing {
          font-size: 15px;
          font-weight: bold;
      }

  }
.custom_content
{
   padding: 10px;
}
.custom_content p{
    color: #fff !important;
}
.custom_content img{
    height: 100%;
    max-width: 100%;
}
.custom_content iframe{
    height: 100%;
    max-width: 100%;
}
.custom_content table{
    margin-bottom: 10px;
    overflow-x: auto;
    display: block;
    max-width: 100%;
}
.btn_list{
    text-align: center;
}
.btn_list li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}
/* Custom Button End */

/*  9.Program Schedule Section Start*/
.program-section {
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #fff;
}
.program-section .nav-tabs {
    border: 0;
}
.program-section .nav-tabs > li {
    margin: 0 0 19px 0;
}
.program-section .nav-tabs > li.active > a, .program-section .nav-tabs > li.active > a:hover, .program-section .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: 0;
    color: #fff;
}
.program-section .nav-tabs > li > a {
    border: 0;
    border-radius: 0;
    line-height: normal;
    margin-right: 0;
}
.program-section .nav > li > a {
    display: block;
    padding: 0;
    color: #777;
    outline: none;
}
.program-section .nav > li > a span {
    display: block;
    padding: 0;
    position: relative;
    font-family: 'Signika', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    outline: none;
}
.program-section .nav > li > a span b {
    font-size: 20px;
    line-height: 20px;
    display: block;
}
.program-section .nav-tabs > li > a:hover {
    border-color: transparent;
}
.program-section .nav > li > a:hover, .program-section .nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}
.tab-content-box {
    padding: 0;
    float: left;
    width: 100%;
}
.tab-head {
    float: left;
    width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.tab-head strong.title {
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.tab-head strong.title span {
    font-weight: 300;
}
.tab-head strong.title-2 {
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: block;
}
.tab-head strong.title-2 span {
    font-weight: 300;
    padding: 0 25px 0 0;
}
.tab-content-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab-content-box ul li {
    float: left;
    width: 100%;
}
#wrapper .tab-content-box h3 {
    margin: 0 0 10px 0;
}
#wrapper .tab-content-box h3 b {
    font-weight: 700;
}
#wrapper .tab-content-box p {
    margin: 0 0 20px 0;
}
.thumb-box {
    float: left;
}
.tab-content-box .thumb {
    float: left;
    margin: 0 20px 20px 0;
    overflow: hidden;
    cursor: pointer;
}
.tab-content-box .thumb img{
    height: 70px;
    width: 70px;
}
.tab-content-box .left-box .btn-style-1 {
    box-shadow: none;
    font-size: 12px;
    padding: 8px 18px;
    margin: 0 0 0 -18px;
    position: relative;
    bottom: 16px;
    opacity: 0;
}
.thumb-box:hover .btn-style-1 {
    opacity: 1;
}
.tab-content-box .left-box .btn-style-1:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 5px 4.5px;
}
.tab-content-box .left-box {
    float: left;
    width: 100%;
    padding: 30px 0 0 15px;
}
.tab-content-box .detail-col {
    float: left;
    width: 100%;
    padding: 30px 10px;
}
.tab-content-box .detail-col ul {
    margin: 0 0 10px 0;
}
.tab-content-box .detail-col ul li {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #777;
    float: none;
    padding: 0 0 10px 0;
    overflow: hidden;
}
.tab-content-box .detail-col ul li span {
    float: left;
}
.tab-content-box .detail-col ul li .fa {
    padding: 0 9px 0 0;
    float: left;
}
.tab-content-box .detail-col a.btn-style-1 {
    float: left;
}
.color-tab tr:nth-child(even){
    background-color: #f5f5f5 !important;
}
tr:nth-child(even) .color-right  {
    background-color: #ebebeb !important;
}
tr:nth-child(odd) .color-right  {
    background-color: #f5f5f5 !important;
}

.btn-1{
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #fff;
    display: block;
    border-radius: 25px;
    background-color: #59606B;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 0 auto;
    cursor: pointer;
}
.btn-1:hover{
     color: #fff;
    background-color: #333;
    text-decoration: none;
}
.btn-2{
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #fff;
    display: block;
    border-radius: 25px;
    background-color: #59606B;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 0 auto;
    cursor: pointer;
}
.btn-2:hover{
     color: #fff;
    background-color: #333;
    text-decoration: none;
}
.faq-open .btn-2{
    display: inline-block !important;
}

a.btn-2 {
    display: none;
}
.faq-open .btn-1{
    display: none;
}
.m-0{
    margin:0 !important;
}
.p-r{
    position: relative;
}
.col-md-3.right_box{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
}
/*  Program Schedule Section Start  */



/*  10.Speakers Section Start*/
.top-speakers-section {
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #f5f5f5;
}
.name-box {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    width: 100%;
    padding: 15px 0;
}
.name-box strong.name {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
}
.top-speakers-section .box p.description {
    font-family: 'Signika', sans-serif;
    font-size: 14px !important;
    line-height: 14px !important;
    font-weight: 400 !important;
    color: #666 !important;
    display: block;
    margin: 0 !important;
    padding: 10px 0 5px 0 !important;
    text-align: center !important;
    clear: both !important;
}
.top-speakers-section .inner-box .caption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    cursor: pointer;
    opacity: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    transition: all 1.0s ease 0s;
    -webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
}
.top-speakers-section .inner-box .caption strong.name {
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 0 0 5px 0;
}
.top-speakers-section .inner-box .caption p {
    font-family: 'Signika', sans-serif;
    font-size: 14px !important;
    line-height: 14px !important;
    font-weight: 400 !important;
    color: #fff !important;
    display: block;
    text-align: center;
    padding: 0 0 15px 0 !important;
}
/*.top-speakers-section .inner-box .caption p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 0 0 20px 0;
}*/
/*.top-speakers-section .inner-box .caption a.btn-stylr-1 {
    background-color: #ffffff;
    text-decoration: none;
}
.top-speakers-section .inner-box .caption a.btn-stylr-1:hover{
    text-decoration: none;
    
}*/
.top-speakers-section .inner-box {
    float: left;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.top-speakers-section .inner-box .caption ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
}
.top-speakers-section .inner-box .caption ul li {
    display: inline-block;
    float: none;
    padding: 0 2px;
}
.top-speakers-section .inner-box .caption ul li a .fa {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.box:hover .caption
 {
    opacity: 1;
}
.top-speakers-section .round-frame {
    float: left;
    width: 220px;
    height: 220px;
    background: #000;
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin: 0 0 20px 0;
}
.top-speakers-section .round-frame img {
    width: 100%;
    display: block;
}
.top-speakers-section h3 {
    font-weight: 700;
    text-align: center;
    margin: 0 0 5px 0;
}
.top-speakers-section h3 a {
    text-decoration: none;
    color: #222;
}
.top-speakers-section em {
    display: block;
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}
.top-speakers-section ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.top-speakers-section ul li {
    margin-bottom: 0;
    float: left;
}
/*Speakers Section End*/


/*  11.Attendee Section  */
.attende-img .ih-item.circle {
    width: 105px !important;
    height: 105px !important;
}
.attende-img .ih-item.circle.effect1 .spinner {
    width: 115px !important;
    height: 115px !important;
    border: 5px solid #59606b !important;
    border-right-color: #333 !important;
    border-bottom-color: #fff !important;
}


/*  10-1.Speaker Modal */
.speaker-modal.eventime_modal img{
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.speaker-modal-description{
    max-height: 200px;
    padding: 15px;
}
/* Speaker Modal End */


/*  12.Sponsors Partners Section Start*/
.partners-section {
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #fff;
}
.partners_box {
    width: 82%;
    margin: auto; 
    
}
.partners_featured {
    width: 43%;
    margin-right: 4%;
    display: inline-table;
    background: #fff;
    height: 150px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 40px;
    border: 1px solid;
    outline: solid 3px;
    vertical-align: top;
}
.image_featured {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid;
    height: 200px;
}
   
.partners_box img {
    filter: none;
    position: absolute;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}
.partners_box img {
    max-width: 100%;
    opacity: 0.7;
    max-height: 100%;
    display: block;
    margin: auto;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
.partners_box img:hover {
    opacity: 1;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.partners_basic {
    margin-right: 4.3%;
    display: inline-table;
    background: #fff;
    height: 150px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 40px;
    border: 1px solid;
    outline: solid 3px;
    vertical-align: top;
}
.partners_basic img {
    width: auto;
    max-width: 80%;
    padding: 10px;
}

.partners_basic {
    cursor: pointer;
}
.partners-category-container-inner
{
    display: inline-block;
    float: left;
    margin: 10px 0;
    padding: 0;
    height: 125px;
    border-radius: 5px;
    line-height: 100px;
    text-align: center;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.partners-img-container {
    margin: 10px;
    height: 100%;
    width: 90%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.partners-category-container
{
    padding:0;
}
.partners-img-container img{
    max-height: 80%;
    width: auto;
    max-width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*Sponsors Partners Section End*/


/*  13.Exibitors Section */
.section-exhibitors{
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #fff;

}
.exhibitor-item {
    display: inline-block;
    float: none;
    margin: 10px 0;
    background: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    line-height: 100px;
    text-align: center;
    /* width: 25%; */
    float: left;
    height: 125px;
    padding-bottom: 10px;
}

.exhibitor-each-item {
    margin: 10px;
    background: white;
    height: 100%;
    width: 90%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

div.exhibitors-list {
    text-align: center;
}
.exhibitor-each-item img {
    max-height: 80%;
    width: auto;
    max-width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.partners-img-container img
/*Exhibitor Section End */


/* transformation  */
.top-speakers-section .inner-box .caption,.partners-img-container img, .footer-section-3 strong.copy a, .past-event ul li .caption, .program-section .nav > li > a, .hexagon-style-5, .hexagon-style-5:before, .hexagon-style-5:after, #nav li ul li a, .blog-page .bx-wrapper .bx-next, .blog-page .bx-wrapper .bx-prev, .sidebar-box a, .tags ul li a, .map-caption .frame img,.exhibitor-each-item img, .tab-content-box .left-box .btn-style-1,.btn-style-2,.btn-1,.btn-2, .tab-content-box .thumb img, .past-event-gallery ul li img, .about-section .thumb img, .top-speakers-section .round-frame img, .past-event ul li img, .frame img, .sidebar-box .thumb img, .comment-frame img, #main .instagram li img, .contact-2 address ul li .fa, .location-bottom-row .text-inner .fa, .round-frame img, .organizers-section .holder .thumb img, a.btn-style-1, #nav li a:before, .blog-section .box img {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.tab-content-box .thumb img,.exhibitor-each-item img,.partners-img-container img, .past-event-gallery ul li img, .about-section .thumb img, .top-speakers-section .round-frame img, .past-event ul li img, .frame img, .exhibitor-each-item img, .sidebar-box .thumb img, .comment-frame img, #main .instagram li img, .round-frame img, .organizers-section .holder .thumb img, a.btn-style-1,.btn-style-2 .btn-1,.btn-2,{
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
.tab-content-box .thumb:hover img,.exhibitor-each-item:hover img,.partners-img-container:hover img, .past-event-gallery ul li:hover img, .about-section .thumb:hover img, .top-speakers-section .round-frame:hover img, .past-event ul li:hover img, .frame:hover img, .sidebar-box .thumb:hover img, .comment-frame:hover img, #main .instagram li:hover img, .round-frame:hover img, .organizers-section .holder .thumb:hover img, a.btn-style-1:hover,.btn-1:hover,.btn-2:hover,.tab-content-box .thumb:hover img, .past-event-gallery ul li:hover img, .about-section .thumb:hover img, .top-speakers-section .round-frame:hover img, .past-event ul li:hover img, .frame:hover img, .sidebar-box .thumb:hover img, .comment-frame:hover img, #main .instagram li:hover img, .round-frame:hover img, .organizers-section .holder .thumb:hover img, a.btn-style-1:hover,.btn-style-2:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
/* Trasformation End */


/*  14.Gallery Section  */
.section-gallery{
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #f5f5f5;
}

.section-gallery img:hover {
    opacity: 0.5;
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 40px 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}


/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.section-gallery .iso-section .iso-box .ih-item.square{
    width: 270px !important;
    height: 180px !important;
}
.fluid-img {
    width: 100%;
    display: block;
}
.ih-item.square.effect6 .info p{
    padding: 40px !important;
}
.ih-item.square.effect6 .info{
    background: rgba(86, 96, 107, 0.6) none repeat !important;
}
/*  Gallery End     */


/*      15.Location-section    */
.location-section{
    float: left;
    width: 100%;
    background-color: #fff;
}
#map {
    width: 100%;
    height: 500px;
    display: block;
}
/*      Location-section End    */

/*  16.Contact Section  */
.contact-section{
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #ffffff;
}
.contact-section h5{
    font-size: 16px !important;
}
.form-div {
    padding-bottom: 10px;

}
.form-div input{
    border-radius: 0;
    padding: 0 15px;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    color: #777;
    background-color: #fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.form-div textarea{
    border-radius: 0;
    padding: 0 15px;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    color: #777;
    background-color: #fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    height: 150px;
}
/*    Contact End       */

/*  17.Blog */
.blog-section {
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #f5f5f5;
}
#blog-itens-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -8px !important;
    margin-right: -8px !important;
    padding-top: 20px;
}
.blog-item {
    margin-bottom: 0;
    padding: 9px;
}
.blog-item:hover .blog-item-wrapper {
    margin-top: -5px;
}
.blog-item:hover .title-border:after {
    width: 80px;
}
.blog-item-wrapper {
    border: 1px solid #ddd;
    border-top: 3px solid #3e4651;
    padding: 20px 15px 5px;
    background: #f4f4f4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 3px 13px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 3px 13px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 3px 13px 0 rgba(50, 50, 50, 0.5);
}
.blog-item-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: -1px;
}
.blog-item-title a {
    color: #3e4651;
}
.blog-item-title a:hover {
    text-decoration: none;
}
.blog-item-thumb a {
    display: block;
}
.blog-item-thumb img {
    width: 100%;
}
.blog-item-title-hr {
    border: 0;
    border-top: 3px solid #029669;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}
.blog-item-description p {
    font-size: 14px;
}
.blog-item-description a {
    color: #555555 !important;
}
.blog-item-description a:hover {
    text-decoration: none;
}
.blog-item-link {
    margin-top: 20px;
    margin-bottom: 10px;
}
.blog-item-link .btn-default {
    font-size: 11px !important;
}
.section-header-image {
    margin-bottom: 40px;
}
.section-header-image img {
    width: 100%;
}
/* Blog end */

/* 18.FAQ */
.section-faq{
    float: left;
    width: 100%;
    padding: 70px 0;
    background-color: #fff;
}
.faq-wrapper {
    display: block;
    position: relative;
    width: 100%;
    background-color: #59606b;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.faq-wrapper .faq-title, .faq-wrapper .faq-title.active {
    display: block;
    position: relative;
    padding-top: 10px;
    color: #fff !important;
    padding-bottom: 10px;
    padding-left: 20px;
}
.section-faq a {
    font-family: 'Signika', sans-serif;
}
.section-faq a, :focus, :active {
    text-decoration: none;
    outline: none;
}
.faq-wrapper .faq-content {
    display: none;
    padding: 0 32px 1px 32px;
    

}
.faq-wrapper .faq-content p{
    color: #fff !important;
}
/* End Faq Section */

/*  19.Footer Section Start*/
.footer-section-3 {
    float: left;
    width: 100%;
    background-color: #59606b;
    padding: 32px 0;
}
.footer-section-3 strong.copy {
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #777;
    display: block;
    text-align: center;
    float: right;
}
.footer-section-3 strong.copy a {
    text-decoration: none;
    color: #fff;
}
.footer-section-3 strong.copy a:hover{
    color: #fff !important;
}
.footer-section-3 strong.copy b {
    font-weight: 400;
    text-transform: uppercase;
}

.footer-social {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.footer-social li {
    float: left;
    padding: 0 10px 0 0;
}
.footer-social li a {
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
/*Footer Section End*/
.event-description h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: none !important;
    width: 98px;
    height: 2px;
}
.event-description h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    border-bottom: none !important;
    width: 98px;
    height: 2px;
}
.attende-img{
    padding: 5px;
    width: 20%;
    display: inline-block;
}

@media screen and (max-width: 767px){
    #banner .caption strong.title{
        font-size: 25px;
        line-height: normal;
    }
    #banner .caption strong.logo{
        display: none;
    }
    #banner .caption ul{
        display: block;
    }
    #banner .caption ul li {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding: 0;
    width: 100%;
    border: none;
}
#banner .caption ul li .fa {
    display: none;
}
#banner .caption{
    top: 10px !important;
}
    ul.event-highlight{
        margin: 0;
    }
    ul.event-highlight li{
        list-style: none;
        width: 100%;
        display: block;
    }
    .program-section .nav > li > a span{
        font-size: 18px;
        line-height: 1;
    }
    .program-section .nav > li > a span b{
        font-size: 18px;
        line-height: 1;
    }
    .attende-img{
        display: inline-block;
        width: 40%;
        text-align: center;
        padding-left: 25px;
    }
    .community-text{
        text-align: center;

    }
    .partners-img-container{
        width: 60%;
    }
    .partners-img-container.box{
        float: none;
    }
    .partners-category-container-inner{
            margin: 10px 0 !important;
    }
    #wrapper h2{
        text-align: center;
    }
    #wrapper h2:after{
        display: none;
    }
    #wrapper h2:before{
        display: none;
    }
    .section-gallery .iso-section .iso-box .ih-item.square{
        width: 100% !important;
        height: 100% !important;
    }
    .center-text{
        text-align: center;
    }
    .no-padding{
        padding: 0;
    }
    .box > iframe{
        height: 400px !important;
    }
    .blog-section .box{
        width: 100% !important;
    }
    .custom_content img{
        max-width: 10%;
    }
    .custom_content iframe{
        max-width: 100%;
    }
    .custom_content table{
        max-width: 100%;
    }
    .faq-wrapper{
        margin-left: 0;
    }
    .schedule-item-content{
        margin-left: 0 !important;
    }
}   
ul{
    padding: 0;
}

ul.btn_list li {
    float: none;
}

/* Supporter Section */
.supporter-container-inner{
    padding:0 !important;
}
.supporter-category-container-inner{
    display: inline-block;
    margin: 15px 15px;
    padding: 0;
    background-color: #fff;
    height: 120px !important;
    width: 120px !important;
    line-height: 100px;
    text-align: center;
    border: 1px solid;
}
.supporter-img-container {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.supporter-container
{
    padding:0;
}
.supporter-img-container img{
    max-height: 100%;
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
}


.agenda{
  text-align: left;
  padding: 10px 30px;
  background: #f5f5f5;
}
.agenda p{
  font-weight: 700;
}
.agenda h4{
  font-weight: 700;
}
.agenda .image{
    display: inline-block;
}
.agenda .image img{
  background: #f5f5f5;
}