#gallery {
	background: $darker-bg;
}

// .mix {
// 	display: none;
// }

// .filters {
// 	li {
// 		display: inline-block;
// 		margin: 10px 30px;
// 		text-transform: capitalize;
// 		cursor: pointer;
// 		&.active {
// 			color: $accent;
// 		}
// 		&:before {
// 			font-family: 'FontAwesome';
// 			content: '\f111';
// 			color: lighten($dark-bg, 20%);
// 			margin-right: 10px;
// 			font-size: 8px;
// 			vertical-align: middle;
// 		}
// 		&.active {
// 			&:before {
// 				color: $accent;
// 			}
// 		}
// 	}
// }

.gallery-holder {
	margin-bottom: 90px;
	display: inline-block;
}

.gallery-item {
	margin-bottom: 30px;
}

.gallery-thumb {
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
		display: block;
	}
	.hover {
		position: absolute;
		width: 100%;
		height: 100%;
		background: $accent;
		top: 40px;
		left: 0;
		opacity: 0;
		visibility: hidden;
		@include transition(all, 200ms, linear);
	}
	a {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: $white;
		border: 1px solid $white;
		margin-left: -20px;
		margin-top: -20px;
	}
	&:hover {
		.hover {
			top: 0;
			opacity: 1;
			visibility: visible;
		}
	}
}