@import 'vars';

/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
@import 'reset';


/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
@import 'base';

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
@import 'header';

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
@import 'banner';
/*------ about ------ */
@import 'about';
/*------ projects ------ */
@import 'projects';
/*------ contact ------ */
@import 'contact';

/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */
@import 'footer';