a.btn-style-1, .btn-style-2, .schedule-item-content, .btn-1,.btn-2 ,.faq-wrapper, .btn-1:hover .btn-2:hover, .btn-style-1:hover, .btn-style-2:hover {
	background-color: #8ec211 !important;
}
/*Background Color Start*/
#header, .top-speakers-section .inner-box .caption, .plan-box span.batch, .venue-location, .date-box, .footer-section-2, .hexagon-style-4, .past-event ul li .caption, .program-section .nav-tabs > li.active > a .hexagon-style-5, .tab-head, .blog-page blockquote, .tags ul li a:hover, .hexagon-style-8, .program-detail strong.date, .organizers-section .holder .text-box, .speaker-detail-social {
	background-color: #8ec211;
}
/*Background Color End*/

/*Text Color Start*/
.amount-box strong.price, .amount-box span, .home-testimonials strong.name, .footer-section-3 strong.copy a:hover, #main .parallax-section .btn-style-1, .location-box address .btn-style-1, #blockquote-box blockquote q, .tab-content-box .detail-col ul li, .hex2, .hex2::before, .hex2::after , .program-section .nav > li > a, #nav li ul li a:hover, #nav li ul li:hover > a, #nav li ul li a{
	color: #8ec211;
}
/*Text Color End*/

/*Button Color Start*/
a.btn-style-1, .footer-section-1 form button, .booking-form .holder form input[type="submit"], .comment-form input[type="submit"], .speaker-detail a.btn-download {
	background-color: #8ec211;
}
/*Button Color End*/

/*Border Color Start*/
.home-testimonials strong.name:before, .home-testimonials strong.name:after {
	border-color: #8ec211;
}
.hexagon-style-4:before {
	border-bottom: 19.34px solid #8ec211;
}
.program-section .nav-tabs > li.active > a .hexagon-style-5:before {
	border-bottom: 47.63px solid #8ec211;
}
.hexagon-style-4:after {
	border-top: 19.34px solid #8ec211;
}
.program-section .nav-tabs > li.active > a .hexagon-style-5:after {
	border-top: 47.63px solid #8ec211;
}
.program-section .nav > li > a:hover .hexagon-style-5 {
	background-color: #8ec211;
}
.program-section .nav > li > a:hover .hexagon-style-5:before {
	border-bottom: 47.63px solid #8ec211;
}
.program-section .nav > li > a:hover .hexagon-style-5:after {
	border-top: 47.63px solid #8ec211;
}
.tab-content-box .left-box .btn-style-1:before {
	border-color: transparent transparent #8ec211 transparent;
}
.hexagon-style-8:before {
	border-bottom: 14.43px solid #8ec211;
}
.hexagon-style-8:after {
	border-top: 14.43px solid #8ec211;
}

.attende-img .ih-item.circle.effect1 .spinner{
	border: 5px solid #8ec211 !important;
	border-right-color: #8ee !important;
	border-bottom-color: #fff !important;
}
/*Border Color End*/

.top-speakers-section .box p.description{
	color: #8ec211 !important;
}

.footer-section-3{
	background-color: #8ec211;
}